<!DOCTYPE html>
<html>
  <head>
    <title>Python Minibootcamp Homework 3</title>
  </head>
  <body>
    <h1>Creating a Food Database</h1>
    <h3><a href="/enterNew">Add Food</a></h3>
    <br>
    <br>
    <h3>Which food is the best so far? Click <a href='/favourite'>HERE</a> to find out!</h3>
    <br>
    <br>
    <h3>First Steps in Python</h3>
    <p>One of the first things you need to do to learn a new programming language is the get used to it by practicing.</p>
    <h4>Steps:</h4>
    <ul>
      <li>Pick the language to learn</li>
      <li>Find a good online course to get a small taste of the language</li>
      <li>Look around and see if there are any good bootcamps in your city</li>
      <li>If there are no good bootcamps in your city, check online for some reputable online programs</li>
    </ul>
    <h4>For more information, click <a href="https://google.com">HERE</a>.</h4>
  </body>
</html>
